.icon--arrow-r-dims {
	width: 100px;
	height: 100px;
}

.icon--cart-dims {
	width: 18px;
	height: 15px;
}

.icon--clipboard-dims {
	width: 28px;
	height: 32px;
}

.icon--clock2-dims {
	width: 81.929px;
	height: 81.928px;
}

.icon--icon-facebook-dims {
	width: 32px;
	height: 32px;
}

.icon--icon-instagram-dims {
	width: 32px;
	height: 32px;
}

.icon--icon-twitter-dims {
	width: 32px;
	height: 32px;
}

.icon--icon-vkontakte-dims {
	width: 32px;
	height: 32px;
}

